---
export const prerender = false;

import { Image } from "astro:assets";
import Layout from "@/layouts/Layout.astro";
import PublicLayout from "@/layouts/PublicLayout.astro";
import Hero from "@/assets/hero.jpg";
import { LoginForm } from "@/components/LoginForm";
import { getSession } from "@/lib/auth";

const session = await getSession(Astro);

if (session) {
  return Astro.redirect("/portal");
}
---

<Layout>
  <PublicLayout>
    <section class="relative w-full min-h-screen flex items-center">
      <div class="absolute inset-0 z-0">
        <div
          class="absolute inset-0 bg-gradient-to-b from-black/70 via-obsidian/70 to-black/70"
        >
        </div>
        <Image
          src={Hero}
          alt="Hero"
          loading="eager"
          class="w-full h-full object-cover"
        />
      </div>

      <div
        class="container mx-auto px-4 sm:px-6 lg:px-8 relative z-20 flex justify-center"
      >
        <LoginForm client:only />
      </div>
    </section>
  </PublicLayout>
</Layout>
