---
import { Icon } from "astro-icon/components";

const { icon, title, description } = Astro.props;
---

<div
  class="bg-soft-dark p-4 rounded-xl shadow-m hover:shadow-l transition-all hover:-translate-y-1"
>
  <div
    class="size-16 bg-primary/10 rounded-full flex items-center justify-center mx-auto mb-6 shadow-m hover:shadow-l"
  >
    <Icon name={icon} class="size-8 text-primary" />
  </div>
  <h3 class="text-2xl font-bold text-obsidian mb-4 text-center">
    {title}
  </h3>
  <p class="text-mocha leading-relaxed text-center">
    {description}
  </p>
</div>
