---
import { Icon } from "astro-icon/components";
import { Image } from "astro:assets";

import Logo from "../assets/logo_dark.svg";

const areas: string[] = [
	"Wynwood",
	"Dania Beach",
	"Midtown",
	"Fort Lauderdale",
	"Edgewater",
	"Hialeah",
	"Downtown",
	"Hialeah Gardens",
	"Brickell",
	"Doral",
	"North Miami",
	"Coral Gables",
	"Aventura",
	"Kendall",
];
---

<footer class="bg-obsidian text-soft py-12">
  <div class="container mx-auto px-4 sm:px-6 lg:px-8">
    <div class="grid grid-cols-1 md:grid-cols-3 gap-8 mb-8">
      <div class="px-2 space-y-4">
        <div>
          <Logo class="w-full max-w-[200px] h-auto" />
          <em class="text-white">Brokered by EXP Realty</em>
        </div>
        <p class="text-soft mb-6">
          Your trusted partner in finding the perfect rental property in Miami.
          We make the process simple, transparent, and enjoyable.
        </p>
      </div>

      <div class="px-2">
        <h3 class="text-lg font-bold mb-6">Areas We Serve</h3>
        <ul class="grid grid-cols-2">
          {areas.map((a) => <li>{a}</li>)}
        </ul>
      </div>

      <div class="px-2">
        <h3 class="text-lg font-bold mb-6">Social Media</h3>
        <ul class="flex space-x-2">
          <li>
            <a
              target="_blank"
              href="https://www.instagram.com/bruschirentals?utm_source=ig_web_button_share_sheet&igsh=ZDNlZDc0MzIxNw=="
              class="text-soft hover:scale-120 hover:text-primary transition-colors"
            >
              <Icon name="mdi:instagram" class="size-10" />
              <span class="sr-only">Instagram</span>
            </a>
          </li>
          <li>
            <a
              target="_blank"
              href="www.linkedin.com/bruschi-rentals"
              class="text-soft hover:scale-120 hover:text-primary transition-colors"
            >
              <Icon name="mdi:linkedin" class="size-10" />
              <span class="sr-only">LinkedIn</span>
            </a>
          </li>
        </ul>
      </div>
    </div>
    <div class="flex justify-center">
      <p class="text-soft text-sm">
        &copy; {new Date().getFullYear()} Bruschi Rentals. All rights reserved.
      </p>
    </div>
  </div>
</footer>
