---
import { Button } from "@/components/ui/button";
import Logo from "@/assets/logo_dark.svg";
import { getSession } from "@/lib/auth";

const session = await getSession(Astro);

const url = new URL(Astro.request.url);
const search = url.search;

console.log(session, "session");
---

<header class="absolute top-0 left-0 right-0 z-50">
  <div class="px-4 sm:px-6 lg:px-8">
    <div class="flex items-center justify-between py-4">
      <a href={`/${search}`} class="flex items-center" aria-label="Logo">
        <Logo class="w-full max-w-32 lg:max-w-48 h-auto" />
      </a>
      <div class="flex items-center space-x-4">
        <Button variant="outline" className="bg-transparent text-white">
          <a href={session ? `/portal${search}` : `/login${search}`}
            >{session ? "Access" : "Login"}</a
          >
        </Button>
      </div>
    </div>
  </div>
</header>
